/* body{
    margin: 0;
    background: #bcb9b9;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    min-height: 100vh;
} */

.slider{
    width: 100%;
}

.slider input{
    display: none;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 350px;
    perspective: 1000px;
}

.cards .item{
    width: 300px;
    height: 400px;
    border-radius: 5px;
    background-color: #21262d;
    color: #fff;
    position: absolute;
    top: 0;
    text-align: center;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: transform 0.4s;
    border: 3px solid #fff;
    overflow: hidden;
}

.cards .item .main_content{
    width: 100%;
}

.cards .item .main_content .img{
    width: 100%;
    height: 100%;
}

.cards .item .main_content .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards .item .main_content .content{
    display: none;
}

.cards .item .main_content .content h1{
    font-size: 30px;
    color: #fff;
}

.cards .item .main_content .content h4,
.cards .item .main_content .content p{
    margin-top: -10px;
}

.cards .item .main_content .content p{
    font-size: 13px;
    font-weight: 300;
}

.cards .item .main_content .content .social{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content .social .icon{
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .social .icon i{
    color: #000;
    font-size: 22px;
    transition: 0.5s;
}

.content .social .icon:hover i{
    color: var(--color);
}


.dots{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.dots label{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #21262d;
    cursor: pointer;
    margin: 7px;
    transition-duration: 0.2s;
}



#c-1:checked ~ .dots label[for="c-1"],
#c-2:checked ~ .dots label[for="c-2"],
#c-3:checked ~ .dots label[for="c-3"],
#c-4:checked ~ .dots label[for="c-4"],
#c-5:checked ~ .dots label[for="c-5"]{
    transform: scale(2);
    background-color: #fff;
    box-shadow: 0px 0px 0px 3px #342f2fe6;
}

#c-1:checked ~ .dots label[for="c-2"],
#c-2:checked ~ .dots label[for="c-1"],
#c-2:checked ~ .dots label[for="c-3"],
#c-3:checked ~ .dots label[for="c-2"],
#c-3:checked ~ .dots label[for="c-4"],
#c-4:checked ~ .dots label[for="c-3"],
#c-4:checked ~ .dots label[for="c-5"],
#c-5:checked ~ .dots label[for="c-4"]{
    transform: scale(1.5);
}

#c-1:checked ~ .cards label[for="c-3"],
#c-2:checked ~ .cards label[for="c-4"],
#c-3:checked ~ .cards label[for="c-5"],
#c-4:checked ~ .cards label[for="c-1"],
#c-5:checked ~ .cards label[for="c-2"]{
    transform: translate3d(600px, 0, -180px) rotateY(-25deg);
    z-index: 2;
}

#c-1:checked ~ .cards label[for="c-2"],
#c-2:checked ~ .cards label[for="c-3"],
#c-3:checked ~ .cards label[for="c-4"],
#c-4:checked ~ .cards label[for="c-5"],
#c-5:checked ~ .cards label[for="c-1"]{
    transform: translate3d(300px, 0, -90px) rotateY(-15deg);
    z-index: 3;
}

#c-2:checked ~ .cards label[for="c-1"],
#c-3:checked ~ .cards label[for="c-2"],
#c-4:checked ~ .cards label[for="c-3"],
#c-5:checked ~ .cards label[for="c-4"],
#c-1:checked ~ .cards label[for="c-5"]{
    transform: translate3d(-300px, 0, -90px) rotateY(15deg);
    z-index: 3;
}

#c-3:checked ~ .cards label[for="c-1"],
#c-4:checked ~ .cards label[for="c-2"],
#c-5:checked ~ .cards label[for="c-3"],
#c-2:checked ~ .cards label[for="c-5"],
#c-1:checked ~ .cards label[for="c-4"]{
    transform: translate3d(-600px, 0, -180px) rotateY(25deg);
}

#c-1:checked ~ .cards label[for="c-1"],
#c-2:checked ~ .cards label[for="c-2"],
#c-3:checked ~ .cards label[for="c-3"],
#c-4:checked ~ .cards label[for="c-4"],
#c-5:checked ~ .cards label[for="c-5"]{
    z-index: 4;
    padding: 30px;
}

#c-1:checked ~ .cards label[for="c-1"] .main_content .img,
#c-2:checked ~ .cards label[for="c-2"] .main_content .img,
#c-3:checked ~ .cards label[for="c-3"] .main_content .img,
#c-4:checked ~ .cards label[for="c-4"] .main_content .img,
#c-5:checked ~ .cards label[for="c-5"] .main_content .img{
    margin: auto;
    width: 150px;
    height: 150px;
    background: #fff;
    padding: 3px;
    border-radius: 50%;
}


#c-1:checked ~ .cards label[for="c-1"] .main_content .img img,
#c-2:checked ~ .cards label[for="c-2"] .main_content .img img,
#c-3:checked ~ .cards label[for="c-3"] .main_content .img img,
#c-4:checked ~ .cards label[for="c-4"] .main_content .img img,
#c-5:checked ~ .cards label[for="c-5"] .main_content .img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

#c-1:checked ~ .cards label[for="c-1"] .main_content .content,
#c-2:checked ~ .cards label[for="c-2"] .main_content .content,
#c-3:checked ~ .cards label[for="c-3"] .main_content .content,
#c-4:checked ~ .cards label[for="c-4"] .main_content .content,
#c-5:checked ~ .cards label[for="c-5"] .main_content .content{
    display: block;
}