{% extends "base.html" %} {% load static %}

{% block content %}

<div class="slide-container swiper">
  <div class="slide-content">
      <div class="card-wrapper swiper-wrapper">
          <div class="card swiper-slide">
              <div class="image-content">
                  <span class="overlay" id="overlay-1"></span>

                  <div class="card-image">
                      <img src="images/p7.jpg" alt="" class="card-img">
                  </div>
              </div>

              <div class="card-content">
                  <h2 class="name">John D</h2>
                  <p class="description">This app is a game-changer! The personalized workout plans and meal suggestions helped me lose 10 pounds in just a month!</p>

                  
              </div>
          </div>
          <div class="card swiper-slide">
              <div class="image-content">
                  <span class="overlay" id="overlay-2"></span>

                  <div class="card-image">
                      <img src="images/p9.jpg" alt="" class="card-img">
                  </div>
              </div>

              <div class="card-content">
                  <h2 class="name">Sara M</h2>
                  <p class="description">I love how easy it is to use. The beginner workouts are perfect for someone like me who’s just starting out</p>

                 
              </div>
          </div>
          <div class="card swiper-slide">
              <div class="image-content">
                  <span class="overlay" id="overlay-3"></span>

                  <div class="card-image">
                      <img src="images/p1.jpg" alt="" class="card-img">
                  </div>
              </div>

              <div class="card-content">
                  <h2 class="name">Fred N</h2>
                  <p class="description">As a busy professional, I appreciate how quick the workouts are while still being effective. Highly recommend!</p>

                  
              </div>
          </div>
          <div class="card swiper-slide">
              <div class="image-content">
                  <span class="overlay" id="overlay-4"></span>

                  <div class="card-image">
                      <img src="images/p2.jpg" alt="" class="card-img">
                  </div>
              </div>

              <div class="card-content">
                  <h2 class="name">Rachel k</h2>
                  <p class="description">The app suggested the perfect balance of workouts and meals for my weight loss journey. I feel healthier already</p>

                  
              </div>
          </div>
          <div class="card swiper-slide">
              <div class="image-content">
                  <span class="overlay" id="overlay-5"></span>

                  <div class="card-image">
                      <img src="images/p4.jpg" alt="" class="card-img">
                  </div>
              </div>

              <div class="card-content">
                  <h2 class="name">Sofia T</h2>
                  <p class="description">I’ve tried other apps, but this one stands out for its tailored plans and clear guidance. 5 stars from me</p>

              </div>
          </div>
          <div class="card swiper-slide">
              <div class="image-content">
                  <span class="overlay" id="overlay-6"></span>

                  <div class="card-image">
                      <img src="images/p3.jpg" alt="" class="card-img">
                  </div>
              </div>

              <div class="card-content">
                  <h2 class="name">Jay D</h2>
                  <p class="description">The app’s fitness tracking feature keeps me motivated every day. The badges are such a fun touch!</p>

                  
              </div>
          </div>

      </div>
  </div>

  <div class="swiper-button-next swiper-navBtn"></div>
  <div class="swiper-button-prev swiper-navBtn"></div>
  <div class="swiper-pagination"></div>
</div>

{% endblock %}