{% extends "base.html" %} {% load static %}

{% block content %}

<div class="slide-container swiper">
    <div class="slide-content">
        <div class="card-wrapper swiper-wrapper">
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay" id="overlay-1"></span>
  
                    <div class="card-image">
                        <img src="{%static 'images/pilate1.webp'%}" alt="" class="card-img">
                    </div>
                </div>
  
                <div class="card-content">
                    <h2 class="name">Beginner</h2>
                    <p class="description">"Start your fitness journey with easy-to-follow beginner workouts designed to build strength, improve flexibility, and boost confidence—perfect for all fitness levels.</p>
  
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay" id="overlay-2"></span>
  
                    <div class="card-image">
                        <img src="{%static 'images/beginner1.jpg'%}" alt="" class="card-img">
                    </div>
                </div>
  
                <div class="card-content">
                    <h2 class="name">Intermediate</h2>
                    <p class="description">Push your limits with our intermediate workouts designed for you. Perfect taking your fitness to the next level!</p>
  
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay" id="overlay-3"></span>
  
                    <div class="card-image">
                        <img src="{%static 'images/advanced2.jpg'%}" alt="" class="card-img">
                    </div>
                </div>
  
                <div class="card-content">
                    <h2 class="name">Advanced</h2>
                    <p class="description">Push your limits with advanced workouts designed for seasoned fitness enthusiasts. Achieve peak performance with challenging routines tailored to maximize strength, endurance, and flexibility.</p>
  
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay" id="overlay-4"></span>
  
                    <div class="card-image">
                        <img src="{%static 'images/full1.jpg'%}" alt="" class="card-img">
                    </div>
                </div>
  
                <div class="card-content">
                    <h2 class="name">full body</h2>
                    <p class="description">Boost your strength, flexibility, and endurance with our full-body workouts—designed to target all major muscle groups for a balanced and effective fitness routine.</p>
  
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay" id="overlay-5"></span>
  
                    <div class="card-image">
                        <img src="{%static 'images/pilate2.jpg'%}" alt="" class="card-img">
                    </div>
                </div>
  
                <div class="card-content">
                    <h2 class="name">pilates</h2>
                    <p class="description">Pilates workouts focus on building core strength, improving flexibility, and enhancing posture through controlled, low-impact exercises suitable for all fitness levels</p>
  
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay" id="overlay-6"></span>
  
                    <div class="card-image">
                        <img src="{%static 'images/lower1.webp'%}" alt="" class="card-img">
                    </div>
                </div>
  
                <div class="card-content">
                    <h2 class="name">lower body</h2>
                    <p class="description">Boost strength and tone your lower body with targeted exercises for your legs, glutes, and thighs.</p>
  
                </div>
            </div>
  
        </div>
    </div>
  
    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>
    <div class="swiper-pagination"></div>
  </div>


 




<!-- <div class="content_training">
    <div class="training_header">
        <h2>Tailored Workout Plans</h2>
        <p>Explore our diverse workout plans designed to fit your unique fitness goals and preferences.</p>

    </div>
    <div class="content_training1">
        <h2 class="header-6">Discover Tailored Workout Plans Designed Just for You</h2>
        <div class="content_training2">
            <div class="content_training3">
                <img src="{%static 'images/follow_along5.jpeg'%}" alt="" width="300px">
                <h3>Experience Video Guidance for Every Step of Your Fitness Journey</h3>
                <p>Our workout plans are customized to fit your unique fitness goals.</p>
                <a href=" " class="btn btn-primary">Learn More</a>
            </div>
            <div class="content_training3">
                <img src="{%static 'images/expert2.jpeg'%}" alt="" width="300px">
                <h3>Achieve Your Goals with Personalized workout Suggestions</h3>
                <p>Our workout plans are customized to fit your fitness level and preferences.</p>
                <a href=" " class="btn btn-primary">Learn More</a>
            </div>
            <div class="content_training3">
                <img src="{%static 'images/selecting2.webp'%}" width="300px">
                <h3>Get Expert training Guidance from Certified Professionals</h3>
                <p>Receive meal plans that align with your fitness objectives for optimal results.</p>
                <a href=" " class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
</div>


<div class="video_container">
    <h2>workout for beginners </h2>
    <div class="video_1">
        <video src=""></video>
        <video src=""></video>
        <video src=""></video>

    </div>
    <h2>Intermediate workouts</h2>
    <div class="video_1">
        <video src=""></video>
        <video src=""></video>
        <video src=""></video>
    </div>
    <h2>Advanced workouts </h2>
    <div class="video_1">
        <video src=""></video>
        <video src=""></video>
        <video src=""></video>
    </div>
    <h2>Pilate workouts</h2>
    <div class="video_1">
        <video src=""></video>
        <video src=""></video>
        <video src=""></video>
    </div>
    <div class="video_1">
        <video src=""></video>
        <h2>full body workouts </h2>
    </div>
    <h2>upper body workouts </h2>
    <div class="video_1">
        <video src=""></video>
        <video src=""></video>
        <video src=""></video>
    </div>
    <h2>lower body workouts </h2>
    <div class="video_1">
        <video src=""></video>
        <video src=""></video>
        <video src=""></video>
       
    </div>
</div> -->






{% endblock %}